apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
    app.kubernetes.io/name: product-metrics
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: product-metrics
    metrics: "true"
    quarkus-metrics: "true"
spec:
  ports:
    - name: http
      port: 8080
  selector:
    name: backend
  sessionAffinity: None
  type: ClusterIP
